
body {
    display: flex;
    flex-direction: column;
    background-image: url('https://img5.thuthuatphanmem.vn/uploads/2022/01/10/anh-bia-zalo-phong-canh-vinh-ha-long-tuyet-dep_024649572.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card {
    background: rgba(255, 255, 255, 0.9);
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
.room-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}